body{
    background-color:#EEEEEE;
}
.container{
    background-color:rosybrown;
    width:60%;
    margin-right:auto;
    margin-left: auto;
}
.name_info , h3 , footer{
  text-align: center;
}
.name_info p{
    color:blue
}
.timeline{
    padding-bottom: 7px;
    text-justify:newspaper;
}
a:hover{
    color: red;
    text-transform: capitalize;
}
.img{
    width:95%;
    margin-left: auto;
    margin-right: auto;
    border: 15px solid white;
    background-color: white;
    border-radius: 5px;
}
.img figcaption{
    color: blue;
}
h4{
    padding-left: 10px;
}